notifications:
  email: false

branches:
  only:
    - master

matrix:
  include:
    - language: ruby
      before_install:
        - gem install asciidoctor
      script:
        - asciidoctor docs/index.adoc -o docs/index.html
      env: BUILD_DOCS=yes
    - language: c
      os: linux
      addons:
        apt:
          packages:
            - gfortran
            - cmake
      install:
        - "./ci/build_examples.sh"
      script:
        - "./ci/run_examples.sh"
      env: RUN_FORTRAN_EXAMPLES=yes
    - language: c
      os: osx
      addons:
        homebrew:
          packages:
            - gcc
      install:
        - "./ci/build_examples.sh"
      script:
        - "./ci/run_examples.sh"
      env: RUN_FORTRAN_EXAMPLES=yes
    - language: python
      python: 3.6
      addons:
        apt:
          packages:
            - gfortran
            - cmake
      before_install:
        - pip install scikit-build
      install:
        - pip install . -v
      script:
        - python -c "import fastscapelib_fortran"
      env: TEST_PYTHON_IMPORT=yes

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local-dir: docs/
  on:
    branch: master
    condition: "$BUILD_DOCS = yes"
